.root {
  li {
    display: inline-flex;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      width: 40px;
      height: 40px;
      border-radius: 25px;
      border: 1px solid #fe5f1e;
      transition: all 0.3s ease-in-out;
      color: #fe5f1e;
      margin-right: 10px;

      &:hover {
        background: #fe5f1e;
        transition: all 0.3s ease-in-out;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        color: #fff;
        background: #fe5f1e;
      }
    }
  }
}
